In [1]:
# Create a pandas dataframe, df_iris, from this data.

import numpy as np
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import seaborn as sns
from pydataset import data
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import acquire
import prepare

df = data("iris")

#     print the first 3 rows

print(df.head(3), "\n")

#     print the number of rows and columns (shape)

print("Shape of the dataframe is", df.shape, ".\n")

#     print the column names
#     print the data type of each column

print(df.info(), "\n")

#     print the summary statistics for each of the numeric variables

print(df.describe())

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

Shape of the dataframe is (150, 5) .

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB
None

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [2]:
 # Read the data from the provided google sheet into a dataframe, df_google.

csv_file1 = "train.csv"
df_google = pd.read_csv(csv_file1)

    # print the first 3 rows

print(df_google.head(3), "\n")

    # print the number of rows and columns

print(df_google.shape, "\n")

    # print the column names
    # print the data type of each column

print(df_google.info(), "\n")

    # print the summary statistics for each of the numeric variables

print(df_google.describe(), "\n")

    # print the unique values for each of your categorical variables

print(df_google.value_counts())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S

(891, 12)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

PassengerId  Survived  Pclass  Name                                                  Sex     Age   SibSp  Parch  Ticket    Fare      Cabin  Embarked
2            1         1       Cumings, Mrs. John Bradley (Florence Briggs Thayer)   female  38.0  1      0      PC 17599  71.2833   C85    C           1
572          1         1       Appleton, Mrs. Edward Dale (Charlotte Lamson)         female  53.0  2      0      11769     51.4792   C101   S           1
578          1         1       Silvey, Mrs. William Baird (Alice Munger)             female  39.0  1      0      13507     55.9000   E44    S           1
582          1         1       Thayer, Mrs. John Borland (Marian Longstreth Morris)  female  39.0  1      1      17421     110.8833  C68    C           1
584          0         1       Ross, Mr. John Hugo                                   male    36.0  0      0      13049     40.1250   A10    C           1
                                                                                                                                                       ..
328          1         2       Ball, Mrs. (Ada E Hall)                               female  36.0  0      0      28551     13.0000   D      S           1
330          1         1       Hippach, Miss. Jean Gertrude                          female  16.0  0      1      111361    57.9792   B18    C           1
332          0         1       Partner, Mr. Austen                                   male    45.5  0      0      113043    28.5000   C124   S           1
333          0         1       Graham, Mr. George Edward                             male    38.0  0      1      PC 17582  153.4625  C91    S           1
890          1         1       Behr, Mr. Karl Howell                                 male    26.0  0      0      111369    30.0000   C148   C           1
Length: 183, dtype: int64

In [3]:
# Download the previous exercise's file into an excel (File → Download → 
# Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

xl_file1 = "train.xlsx"
df_excel = pd.read_excel(xl_file1)

    # assign the first 100 rows to a new dataframe, df_excel_sample

df_excel_sample = df_excel[:101]

    # print the number of rows of your original dataframe

print(df_excel.shape, "\n")

    # print the first 5 column names

print(df_excel.columns[:5].to_list(), "\n")

    # print the column names that have a data type of object

print(df_excel.select_dtypes(include = ["object"]).columns.to_list(), "\n")

    # compute the range for each of the numeric variables.

print((df_excel.select_dtypes(include = ["float"]).max()) - (df_excel.select_dtypes(include = ["float"]).min()) )

(891, 12)

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex']

['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

PassengerId    890.0000
Survived         1.0000
Pclass           2.0000
Age             79.5800
SibSp            8.0000
Parch            6.0000
Fare           512.3292
dtype: float64

In [4]:
# df = acquire.get_iris_data()
# df = df.drop(columns=["species_id", "measurement_id"])
# df = df.rename(columns={"species_name": "species"})
# dummy_df = pd.get_dummies(df[["species"]], drop_first=True)
# df = pd.concat([df, dummy_df], axis=1)

prepare.prep_iris()

df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [6]:
# df = acquire.get_telco_data()
# df = df.drop(columns = ["contract_type", "payment_type",
#                        "internet_service_type"])
# dummy_df = pd.get_dummies(df[["gender"]], drop_first=True)
# df = pd.concat([df, dummy_df], axis=1)

prepare.prep_telco()

df.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,gender_Male
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,No,Yes,Yes,No,Yes,65.6,593.3,No,0
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,No,No,Yes,No,59.9,542.4,No,1
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,Yes,No,No,No,Yes,73.9,280.85,Yes,1
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,Yes,Yes,No,Yes,Yes,Yes,98.0,1237.85,Yes,1
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,No,No,Yes,Yes,No,Yes,83.9,267.4,Yes,0